In [1]:
using CSV, DelimitedFiles
using BenchmarkTools, Logging, Dates
using FreqTables
# For random variable creation 
using Distributions   
  
# For basic statistical operations 
using StatsBase 
  
# For reading and writing CSV files 
using CSV   
  
# For creation of Data Structures   
using DataFrames   
  
# For representing various plots 
using StatsPlots

┌ Info: Precompiling FreqTables [da1fdf0e-e0ff-5433-a45f-9bb5ff651cb1]
└ @ Base loading.jl:1278
┌ Info: Precompiling Distributions [31c24e10-a181-5473-b8eb-7969acd0382f]
└ @ Base loading.jl:1278
┌ Info: Precompiling StatsPlots [f3b207a7-027a-5e70-b257-86293d7955fd]
└ @ Base loading.jl:1278

## Loading Datasets

In [56]:
dfForecastLoad = CSV.read("inputs/DEC_BA_PM(Forecast Load 2019).csv", DataFrame; dateformat = "mm/dd/yyyy HH:MM", types = Dict(:DT => Date));
dfBreakPtsSummer = CSV.read("inputs/HR_Breakpoints_Summer_DEC-DEP_(2019).csv", DataFrame; dateformat = "mm/dd/yyyy", types = Dict(:BEGIN_DATE => Date));
dfBreakPtsWinter = CSV.read("inputs/HR_Breakpoints_Winter_DEC-DEP_(2019).csv", DataFrame; dateformat = "mm/dd/yyyy", types = Dict(:BEGIN_DATE => Date));
dfUnitLookUpTb = CSV.read("inputs/UnitLookupAndDetailTable_(DEC-DEP).CSV", DataFrame; dateformat = "mm/dd/yyyy HH:MM:SS p", types = Dict(:BEGIN_DATE => Date, :END_DATE => Date ));
dfUnitSch = CSV.read("inputs/UnitSchedule_(DEC-DEP 2019).CSV", DataFrame; dateformat = "mm/dd/yyyy HH:MM:SS p", types = Dict(:BEGIN_DATE => Date));

dfHydroUnitRating = CSV.read("inputs/xHydroUnitRating_(DEC 2019).csv", DataFrame);
dfUnitCycleDEC = CSV.read("inputs/xUnitCycleLimit_(DEC 2019).csv", DataFrame);
dfUnitCycleDEP = CSV.read("inputs/xUnitCycleLimit_(DEP 2019).csv", DataFrame);
dfUnitRateSummer = CSV.read("inputs/xUnitRating_DEP-DEC-Summer (2019).csv", DataFrame);
dfUnitRateWinter = CSV.read("inputs/xUnitRating_DEP-DEC-Winter(2019).csv", DataFrame);

dfUnitStartUpDEC = CSV.read("inputs/xUnitStartupCharacteristic_(DEC 2019)_REV2.csv", DataFrame; dateformat = "mm/dd/yyyy HH:MM:SS p", types = Dict(:BEGIN_DATE => Date));

dfUnitStartUpDEP = CSV.read("inputs/xUnitStartupCharacteristic_(PEC 2019)_REV2.csv", DataFrame; dateformat = "mm/dd/yyyy HH:MM:SS p", types = Dict(:BEGIN_DATE => Date));

### File: DEC_BA_PM(Forecast Load 2019).csv

In [3]:
# number of rows and columns 
size(dfForecastLoad)

(8760, 35)

In [4]:
describe(dfForecastLoad)

35×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable      │ mean    │ min        │ median  │ max        │ nunique │
│     │ Symbol        │ Union…  │ Any        │ Union…  │ Any        │ Union…  │
├─────┼───────────────┼─────────┼────────────┼─────────┼────────────┼─────────┤
│ 1   │ Region        │         │ DEC        │         │ DEC        │ 1       │
│ 2   │ Model         │         │ UC         │         │ UC         │ 1       │
│ 3   │ ExportId      │         │ DEC_BA_PM  │         │ DEC_BA_PM  │ 1       │
│ 4   │ DT            │         │ 2019-01-01 │         │ 2019-12-31 │ 365     │
│ 5   │ Year          │ 2019.0  │ 2019       │ 2019.0  │ 2019       │         │
│ 6   │ Month         │ 6.52603 │ 1          │ 7.0     │ 12         │         │
│ 7   │ Day           │ 15.7205 │ 1          │ 16.0    │ 31         │         │
│ 8   │ Hour          │ 11.5    │ 0          │ 11.5    │ 23         │         │
│ 9   │ Load_Actual   │ 12188.8 │ 7395       │ 11609.5 │ 20597      │         │
│ 10  │ Forecast_BCCD │ 0.0     │ 0          │ 0.0     │ 0          │         │
⋮
│ 25  │ DB_5D         │ 62.5113 │ 18         │ 64.0    │ 97         │         │
│ 26  │ DB_6D         │ 62.1808 │ 16         │ 64.0    │ 96         │         │
│ 27  │ DP_Actual     │ 49.8128 │ -4         │ 54.0    │ 75         │         │
│ 28  │ DP_CD         │ 49.7183 │ -5         │ 53.0    │ 74         │         │
│ 29  │ DP_1D         │ 49.5701 │ -4         │ 53.0    │ 74         │         │
│ 30  │ DP_2D         │ 49.5836 │ 0          │ 54.0    │ 74         │         │
│ 31  │ DP_3D         │ 50.2213 │ 6          │ 54.0    │ 73         │         │
│ 32  │ DP_4D         │ 50.2772 │ 0          │ 53.0    │ 73         │         │
│ 33  │ DP_5D         │ 49.8178 │ 0          │ 52.0    │ 74         │         │
│ 34  │ DP_6D         │ 49.2499 │ -2         │ 51.0    │ 74         │         │
│ 35  │ IsBad         │ 0.0     │ 0          │ 0.0     │ 0          │         │

In [5]:
first(dfForecastLoad, 5)

5×35 DataFrame. Omitted printing of 28 columns
│ Row │ Region │ Model  │ ExportId  │ DT         │ Year  │ Month │ Day   │
│     │ String │ String │ String    │ Date       │ Int64 │ Int64 │ Int64 │
├─────┼────────┼────────┼───────────┼────────────┼───────┼───────┼───────┤
│ 1   │ DEC    │ UC     │ DEC_BA_PM │ 2019-01-01 │ 2019  │ 1     │ 1     │
│ 2   │ DEC    │ UC     │ DEC_BA_PM │ 2019-01-01 │ 2019  │ 1     │ 1     │
│ 3   │ DEC    │ UC     │ DEC_BA_PM │ 2019-01-01 │ 2019  │ 1     │ 1     │
│ 4   │ DEC    │ UC     │ DEC_BA_PM │ 2019-01-01 │ 2019  │ 1     │ 1     │
│ 5   │ DEC    │ UC     │ DEC_BA_PM │ 2019-01-01 │ 2019  │ 1     │ 1     │

### File: HR_Breakpoints_Summer_DEC-DEP_(2019).csv

In [6]:
size(dfBreakPtsSummer)

(1184, 14)

In [7]:
describe(dfBreakPtsSummer)

14×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable    │ mean      │ min        │ median   │ max        │ nunique │
│     │ Symbol      │ Union…    │ Any        │ Union…   │ Any        │ Union…  │
├─────┼─────────────┼───────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ UNIT_NAME   │           │ ALLE_UN01  │          │ WSPN_CT01  │ 119     │
│ 2   │ CC_KEY      │ 0.472973  │ 0          │ 0.0      │ 4          │         │
│ 3   │ BEGIN_DATE  │           │ 2019-06-01 │          │ 2019-06-01 │ 1       │
│ 4   │ TIMEZONE    │           │ EDT        │          │ EDT        │ 1       │
│ 5   │ EDITION     │           │ Actual     │          │ Actual     │ 1       │
│ 6   │ NOLOAD_HEAT │ 447.538   │ 7.7586     │ 364.532  │ 1598.7     │         │
│ 7   │ NOLOAD_NOX  │ 44.4789   │ 0.0        │ 22.008   │ 464.916    │         │
│ 8   │ NUM_POINTS  │ 8.0       │ 8          │ 8.0      │ 8          │         │
│ 9   │ POINT       │ 4.5       │ 1          │ 4.5      │ 8          │         │
│ 10  │ MW          │ 211.463   │ 1.0        │ 97.5     │ 1438.0     │         │
│ 11  │ IHR         │ 9.08039   │ 4.1088     │ 9.02775  │ 17.2583    │         │
│ 12  │ NOX         │ 1.11013   │ 0.0        │ 0.692286 │ 15.3303    │         │
│ 13  │ SO2         │ 0.0284365 │ 0.0        │ 0.0      │ 0.28       │         │
│ 14  │ EFFICIENCY  │ 1.0       │ 1          │ 1.0      │ 1          │         │

### File: HR_Breakpoints_Winter_DEC-DEP_(2019).csv

In [8]:
size(dfBreakPtsWinter)

(1192, 14)

In [9]:
describe(dfBreakPtsWinter)

14×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable    │ mean     │ min        │ median   │ max        │ nunique │
│     │ Symbol      │ Union…   │ Any        │ Union…   │ Any        │ Union…  │
├─────┼─────────────┼──────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ UNIT_NAME   │          │ ALLE_UN01  │          │ WSPN_CT01  │ 120     │
│ 2   │ CC_KEY      │ 0.469799 │ 0          │ 0.0      │ 4          │         │
│ 3   │ BEGIN_DATE  │          │ 2019-12-01 │          │ 2019-12-01 │ 1       │
│ 4   │ TIMEZONE    │          │ EDT        │          │ EDT        │ 1       │
│ 5   │ EDITION     │          │ Actual     │          │ Actual     │ 1       │
│ 6   │ NOLOAD_HEAT │ 435.706  │ 7.7586     │ 364.532  │ 1758.58    │         │
│ 7   │ NOLOAD_NOX  │ 44.1635  │ 0.0        │ 21.9329  │ 538.696    │         │
│ 8   │ NUM_POINTS  │ 8.0      │ 8          │ 8.0      │ 8          │         │
│ 9   │ POINT       │ 4.5      │ 1          │ 4.5      │ 8          │         │
│ 10  │ MW          │ 221.64   │ 1.0        │ 100.0    │ 1606.0     │         │
│ 11  │ IHR         │ 9.60371  │ 3.8886     │ 8.9696   │ 29.4897    │         │
│ 12  │ NOX         │ 1.24301  │ 0.0        │ 0.702374 │ 17.1252    │         │
│ 13  │ SO2         │ 0.029251 │ 0.0        │ 0.0      │ 0.28       │         │
│ 14  │ EFFICIENCY  │ 1.0      │ 1          │ 1.0      │ 1          │         │

In [10]:
first(dfBreakPtsWinter, 5)

5×14 DataFrame. Omitted printing of 8 columns
│ Row │ UNIT_NAME │ CC_KEY │ BEGIN_DATE │ TIMEZONE │ EDITION │ NOLOAD_HEAT │
│     │ String    │ Int64  │ Date       │ String   │ String  │ Float64     │
├─────┼───────────┼────────┼────────────┼──────────┼─────────┼─────────────┤
│ 1   │ ALLE_UN01 │ 0      │ 2019-12-01 │ EDT      │ Actual  │ 146.117     │
│ 2   │ ALLE_UN01 │ 0      │ 2019-12-01 │ EDT      │ Actual  │ 146.117     │
│ 3   │ ALLE_UN01 │ 0      │ 2019-12-01 │ EDT      │ Actual  │ 146.117     │
│ 4   │ ALLE_UN01 │ 0      │ 2019-12-01 │ EDT      │ Actual  │ 146.117     │
│ 5   │ ALLE_UN01 │ 0      │ 2019-12-01 │ EDT      │ Actual  │ 146.117     │

### File: UnitLookupAndDetailTable_(DEC-DEP).CSV

In [11]:
size(dfUnitLookUpTb)

(173, 18)

In [12]:
describe(dfUnitLookUpTb)

18×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable          │ mean     │ min        │ median │
│     │ Symbol            │ Union…   │ Any        │ Union… │
├─────┼───────────────────┼──────────┼────────────┼────────┤
│ 1   │ UNIT_KEY          │ 298.22   │ 129        │ 323.0  │
│ 2   │ CC_KEY            │ 0.294798 │ 0          │ 0.0    │
│ 3   │ UNIT_NAME         │          │ ALLE_UN01  │        │
│ 4   │ UNIT_MED_NAME     │          │ ALLEN_UN_1 │        │
│ 5   │ UNIT_DESCRIPTION  │          │ Allen 1    │        │
│ 6   │ BEGIN_DATE        │          │ 2000-01-01 │        │
│ 7   │ END_DATE          │          │ 2020-02-29 │        │
│ 8   │ ACTIVE            │          │ N          │        │
│ 9   │ UNIT_TYPE         │          │ Cogen      │        │
│ 10  │ UNIT_TYPE_CODE    │          │ CC         │        │
│ 11  │ PORTFOLIO_KEY     │ 934.503  │ 37         │ 37.0   │
│ 12  │ PORTFOLIO_NAME    │          │ DEC        │        │
│ 13  │ P_PORTFOLIO_NAME  │          │ CAR        │        │
│ 14  │ MARKET_NAME       │          │ DEC        │        │
│ 15  │ PLANT_KEY         │ 68.5087  │ 1          │ 80.0   │
│ 16  │ PLANT_TYPE        │          │ Plant      │        │
│ 17  │ PLANT_NAME        │          │ ALLE       │        │
│ 18  │ PLANT_DESCRIPTION │          │ Allen      │        │

In [13]:
first(dfUnitLookUpTb, 5)

5×18 DataFrame. Omitted printing of 14 columns
│ Row │ UNIT_KEY │ CC_KEY │ UNIT_NAME │ UNIT_MED_NAME │
│     │ Int64    │ Int64  │ String    │ String        │
├─────┼──────────┼────────┼───────────┼───────────────┤
│ 1   │ 390      │ 1      │ SCCP_CC01 │ SCCP_CC01     │
│ 2   │ 390      │ 2      │ SCCP_CC01 │ SCCP_CC01     │
│ 3   │ 385      │ 1      │ FAYE_CC01 │ FAYE_CC01     │
│ 4   │ 385      │ 2      │ FAYE_CC01 │ FAYE_CC01     │
│ 5   │ 385      │ 3      │ FAYE_CC01 │ FAYE_CC01     │

In [14]:
#CSV.write("List of UnitsFile Name.csv", df)

LoadError: UndefVarError: df not defined

### File: UnitSchedule_(DEC-DEP 2019).CSV

In [15]:
size(dfUnitSch)

(1600415, 14)

In [16]:
describe(dfUnitSch)

14×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable       │ mean     │ min        │ median │ max               │
│     │ Symbol         │ Union…   │ Any        │ Union… │ Any               │
├─────┼────────────────┼──────────┼────────────┼────────┼───────────────────┤
│ 1   │ PORTFOLIO_NAME │          │ DEC        │        │ PEC               │
│ 2   │ UNIT_NAME      │          │ ALLE_UN01  │        │ WSPN_CT01         │
│ 3   │ CC_KEY         │ 0.310058 │ 0          │ 0.0    │ 4                 │
│ 4   │ UNIT_TYPE      │          │ Cogen      │        │ Steam Dual Boiler │
│ 5   │ BEGIN_DATE     │          │ 2019-01-01 │        │ 2019-12-31        │
│ 6   │ EDITION_NAME   │          │ Actual     │        │ Forecast          │
│ 7   │ MW             │ 169.639  │ 0          │ 0.0    │ 14409             │
│ 8   │ BALDN          │ 0.0      │ 0          │ 0.0    │ 0                 │
│ 9   │ BALUP          │ 0.0      │ 0          │ 0.0    │ 0                 │
│ 10  │ NSPIN          │ 0.0      │ 0          │ 0.0    │ 0                 │
│ 11  │ REGDN          │ 0.0      │ 0          │ 0.0    │ 0                 │
│ 12  │ REGUP          │ 0.0      │ 0          │ 0.0    │ 0                 │
│ 13  │ SPIN           │ 0.0      │ 0          │ 0.0    │ 0                 │
│ 14  │ SPINDN         │ 0.0      │ 0          │ 0.0    │ 0                 │

In [17]:
first(dfUnitSch, 5)

5×14 DataFrame. Omitted printing of 9 columns
│ Row │ PORTFOLIO_NAME │ UNIT_NAME │ CC_KEY │ UNIT_TYPE │ BEGIN_DATE │
│     │ String         │ String    │ Int64  │ String    │ Date       │
├─────┼────────────────┼───────────┼────────┼───────────┼────────────┤
│ 1   │ DEC            │ ALLE_UN01 │ 0      │ Steam     │ 2019-01-01 │
│ 2   │ DEC            │ ALLE_UN01 │ 0      │ Steam     │ 2019-01-01 │
│ 3   │ DEC            │ ALLE_UN01 │ 0      │ Steam     │ 2019-01-01 │
│ 4   │ DEC            │ ALLE_UN01 │ 0      │ Steam     │ 2019-01-01 │
│ 5   │ DEC            │ ALLE_UN01 │ 0      │ Steam     │ 2019-01-01 │

**Frequency table of units and number of records of actual and forecast schedules**

In [18]:
freqtable(dfUnitSch.UNIT_NAME, dfUnitSch.EDITION_NAME)

136×2 Named Array{Int64,2}
Dim1 ╲ Dim2 │   Actual  Forecast
────────────┼───────────────────
ALLE_UN01   │     8760         0
ALLE_UN02   │     8760         0
ALLE_UN03   │     8760         0
ALLE_UN04   │     8760         0
ALLE_UN05   │     8760         0
ASHV_CC01   │     3836      3379
ASHV_CC02   │     3836      3379
ASHV_CT03   │     8760         0
ASHV_CT04   │     8760         0
ASHV_UN01   │     8760         0
ASHV_UN02   │     8760         0
BELE_UN01   │     8760         0
⋮                    ⋮         ⋮
SPRT_CG01   │     8760      8759
SUTT_CT02   │       11         0
SUTT_CT04   │     8760         0
SUTT_CT05   │     8760         0
TILL_HYDR   │     8760      8759
WALT_HYDR   │     8760      8759
WCOP_CT10   │     8760         0
WCOP_CT11   │     8760         0
WCOP_CT12   │     8760         0
WCOP_CT13   │     8760         0
WCOP_CT14   │     8760         0
WSPN_CT01   │     8244         0

### File: xHydroUnitRating_(DEC 2019).csv

In [19]:
size(dfHydroUnitRating)

(8, 11)

In [20]:
describe(dfHydroUnitRating)

11×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable   │ mean   │ min           │ median │ max           │ nunique │
│     │ Symbol     │ Union… │ Any           │ Union… │ Any           │ Union…  │
├─────┼────────────┼────────┼───────────────┼────────┼───────────────┼─────────┤
│ 1   │ UNIT_NAME  │        │ BADC_PS01     │        │ JOCA_PS04     │ 8       │
│ 2   │ CC_KEY     │ 0.0    │ 0             │ 0.0    │ 0             │         │
│ 3   │ EDITION    │        │ Actual        │        │ Actual        │ 1       │
│ 4   │ TIMEZONE   │        │ EDT           │        │ EDT           │ 1       │
│ 5   │ BEGIN_DATE │        │ 4/1/2017 4:00 │        │ 4/1/2017 4:00 │ 1       │
│ 6   │ PUMP_MIN   │ 202.5  │ 155           │ 202.5  │ 250           │         │
│ 7   │ LOW_LFC    │ 202.5  │ 155           │ 202.5  │ 250           │         │
│ 8   │ MAX_CAP    │ 267.5  │ 195           │ 267.5  │ 340           │         │
│ 9   │ PUMP_MAX   │ 267.5  │ 195           │ 267.5  │ 340           │         │
│ 10  │ PUMP_LOW   │ 257.0  │ 205           │ 257.0  │ 309           │         │
│ 11  │ PUMP_HIGH  │ 257.0  │ 205           │ 257.0  │ 309           │         │

### File: xUnitCycleLimit_(DEC 2019).csv

In [21]:
size(dfUnitCycleDEC)

(64, 8)

In [22]:
describe(dfUnitCycleDEC)

8×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable    │ mean     │ min           │ median │ max            │
│     │ Symbol      │ Union…   │ Any           │ Union… │ Any            │
├─────┼─────────────┼──────────┼───────────────┼────────┼────────────────┤
│ 1   │ UNIT_NAME   │          │ ALLE_UN01     │        │ RCKN_CT05      │
│ 2   │ CC_KEY      │ 0.140625 │ 0             │ 0.0    │ 2              │
│ 3   │ EDITION     │          │ Actual        │        │ Actual         │
│ 4   │ MIN_UPTIME  │ 29.3906  │ 1             │ 2.0    │ 120            │
│ 5   │ MIN_DNTIME  │ 8.35938  │ 1             │ 1.0    │ 48             │
│ 6   │ MAXRAMPRATE │ 8.72656  │ 1.5           │ 8.0    │ 20.0           │
│ 7   │ TIMEZONE    │          │ EDT           │        │ EDT            │
│ 8   │ BEGIN_DATE  │          │ 1/1/2011 5:00 │        │ 9/11/2015 4:00 │

### File: xUnitCycleLimit_(DEP 2019).csv

In [23]:
size(dfUnitCycleDEP)

(79, 8)

In [24]:
describe(dfUnitCycleDEP)

8×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable    │ mean     │ min             │ median │ max            │
│     │ Symbol      │ Union…   │ Any             │ Union… │ Any            │
├─────┼─────────────┼──────────┼─────────────────┼────────┼────────────────┤
│ 1   │ UNIT_NAME   │          │ ASHV_CT03       │        │ WSPN_CT01      │
│ 2   │ CC_KEY      │ 0.506329 │ 0               │ 0.0    │ 4              │
│ 3   │ EDITION     │          │ Actual          │        │ Actual         │
│ 4   │ MIN_UPTIME  │ 19.1139  │ 1               │ 2.0    │ 120            │
│ 5   │ MIN_DNTIME  │ 3.98734  │ 1               │ 2.0    │ 12             │
│ 6   │ MAXRAMPRATE │ 10.7063  │ 0.3             │ 10.0   │ 20.0           │
│ 7   │ TIMEZONE    │          │ EDT             │        │ EDT            │
│ 8   │ BEGIN_DATE  │          │ 10/18/2014 4:00 │        │ 9/25/2013 4:00 │

### File: xUnitRating_DEP-DEC-Summer (2019)

In [25]:
size(dfUnitRateSummer)

(141, 11)

In [26]:
describe(dfUnitRateSummer)

11×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable      │ mean     │ min           │ median │ max           │
│     │ Symbol        │ Union…   │ Any           │ Union… │ Any           │
├─────┼───────────────┼──────────┼───────────────┼────────┼───────────────┤
│ 1   │ UNIT_NAME     │          │ ALLE_UN01     │        │ WSPN_CT01     │
│ 2   │ CC_KEY        │ 0.347518 │ 0             │ 0.0    │ 4             │
│ 3   │ EDITION       │          │ Actual        │        │ Actual        │
│ 4   │ TIMEZONE      │          │ EDT           │        │ EDT           │
│ 5   │ BEGIN_DATE    │          │ 04/01/2018 00 │        │ 04/01/2019 00 │
│ 6   │ EMERGENCY_MIN │ 114.298  │ 0             │ 74.0   │ 650           │
│ 7   │ NORMAL_MIN    │ 114.44   │ 0             │ 74.0   │ 650           │
│ 8   │ NORMAL_MAX    │ 261.66   │ 4.0           │ 159.0  │ 1236.5        │
│ 9   │ EMERGENCY_MAX │ 261.66   │ 4.0           │ 159.0  │ 1236.5        │
│ 10  │ REG_MIN       │ 123.482  │ 0             │ 75.0   │ 665           │
│ 11  │ REG_MAX       │ 257.625  │ 0.0           │ 159.0  │ 1236.5        │

### File: xUnitRating_DEP-DEC-Winter(2019).csv

In [27]:
size(dfUnitRateWinter)

(141, 11)

In [28]:
describe(dfUnitRateWinter)

11×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable      │ mean     │ min           │ median │ max           │
│     │ Symbol        │ Union…   │ Any           │ Union… │ Any           │
├─────┼───────────────┼──────────┼───────────────┼────────┼───────────────┤
│ 1   │ UNIT_NAME     │          │ ALLE_UN01     │        │ WSPN_CT01     │
│ 2   │ CC_KEY        │ 0.347518 │ 0             │ 0.0    │ 4             │
│ 3   │ EDITION       │          │ Actual        │        │ Actual        │
│ 4   │ TIMEZONE      │          │ EDT           │        │ EST           │
│ 5   │ BEGIN_DATE    │          │ 04/01/2018 00 │        │ 11/18/2018 00 │
│ 6   │ EMERGENCY_MIN │ 119.333  │ 0             │ 97.0   │ 650           │
│ 7   │ NORMAL_MIN    │ 118.411  │ 0             │ 97.0   │ 650           │
│ 8   │ NORMAL_MAX    │ 276.632  │ 4.0           │ 178.0  │ 1236.5        │
│ 9   │ EMERGENCY_MAX │ 276.632  │ 4.0           │ 178.0  │ 1236.5        │
│ 10  │ REG_MIN       │ 126.667  │ 0             │ 98.0   │ 665           │
│ 11  │ REG_MAX       │ 270.604  │ 0.0           │ 178.0  │ 1236.5        │

### File: xUnitStartupCharacteristic_(DEC 2019).csv

In [57]:
size(dfUnitStartUpDEC)

(161, 17)

In [58]:
describe(dfUnitStartUpDEC)

17×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable           │ mean     │ min        │ median │ max        │
│     │ Symbol             │ Union…   │ Any        │ Union… │ Any        │
├─────┼────────────────────┼──────────┼────────────┼────────┼────────────┤
│ 1   │ UNIT_NAME          │          │ ALLE_UN01  │        │ RCKN_CT05  │
│ 2   │ CC_KEY             │ 0.111801 │ 0          │ 0.0    │ 2          │
│ 3   │ EDITION            │          │ Actual     │        │ Actual     │
│ 4   │ STARTUP_FUEL_NAME  │          │ HYDR_KEOW  │        │ SOLR_DEC_C │
│ 5   │ MARKET_OR_CONTRACT │          │ Contract   │        │ Contract   │
│ 6   │ HOUR_1             │ 8.17391  │ 8          │ 8.0    │ 12         │
│ 7   │ HOUR_2             │ 53.1677  │ 32         │ 32.0   │ 76         │
│ 8   │ HOUR_3             │ 106.733  │ 72         │ 72.0   │ 144        │
│ 9   │ MBTU_1             │ 1719.6   │ 0          │ 1037.0 │ 8810       │
│ 10  │ MBTU_2             │ 2272.3   │ 0          │ 1130.0 │ 12202      │
│ 11  │ MBTU_3             │ 2489.52  │ 0          │ 1130.0 │ 13554      │
│ 12  │ COST_1             │ 955.242  │ 0          │ 0.0    │ 8000       │
│ 13  │ COST_2             │ 955.242  │ 0          │ 0.0    │ 8000       │
│ 14  │ COST_3             │ 955.242  │ 0          │ 0.0    │ 8000       │
│ 15  │ SHUTDOWN_COST      │ 45529.6  │ 0          │ 7416.0 │ 201000     │
│ 16  │ TIMEZONE           │          │ EDT        │        │ EST        │
│ 17  │ BEGIN_DATE         │          │ 2019-01-01 │        │ 2021-01-05 │

In [59]:
show(dfUnitStartUpDEC[1:5,:], allcols=true)

5×17 DataFrame
│ Row │ UNIT_NAME │ CC_KEY │ EDITION │ STARTUP_FUEL_NAME │ MARKET_OR_CONTRACT │
│     │ String    │ Int64  │ String  │ String            │ String             │
├─────┼───────────┼────────┼─────────┼───────────────────┼────────────────────┤
│ 1   │ ALLE_UN01 │ 0      │ Actual  │ LOIL_ALLE         │ Contract           │
│ 2   │ ALLE_UN01 │ 0      │ Actual  │ LOIL_ALLE         │ Contract           │
│ 3   │ ALLE_UN01 │ 0      │ Actual  │ LOIL_ALLE         │ Contract           │
│ 4   │ ALLE_UN01 │ 0      │ Actual  │ LOIL_ALLE         │ Contract           │
│ 5   │ ALLE_UN01 │ 0      │ Actual  │ LOIL_ALLE         │ Contract           │

│ Row │ HOUR_1 │ HOUR_2 │ HOUR_3 │ MBTU_1 │ MBTU_2 │ MBTU_3 │ COST_1 │ COST_2 │
│     │ Int64  │ Int64  │ Int64  │ Int64  │ Int64  │ Int64  │ Int64  │ Int64  │
├─────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┤
│ 1   │ 8      │ 76     │ 144    │ 1046   │ 1594   │ 1822   │ 0      │ 0      │
│ 2   │ 8      │ 76     │ 144    │ 1056   │ 1607   │ 1840   │ 0      │ 0      │
│ 3   │ 8      │ 76     │ 144    │ 1056   │ 1607   │ 1840   │ 0      │ 0      │
│ 4   │ 8      │ 76     │ 144    │ 950    │ 1460   │ 1650   │ 0      │ 0      │
│ 5   │ 8      │ 76     │ 144    │ 950    │ 1460   │ 1650   │ 0      │ 0      │

│ Row │ COST_3 │ SHUTDOWN_COST │ TIMEZONE │ BEGIN_DATE │
│     │ Int64  │ Int64         │ String   │ Date       │
├─────┼────────┼───────────────┼──────────┼────────────┤
│ 1   │ 0      │ 41000         │ EST      │ 2019-01-11 │
│ 2   │ 0      │ 41000         │ EST      │ 2019-01-25 │
│ 3   │ 0      │ 43000         │ EST      │ 2020-01-01 │
│ 4   │ 0      │ 43000         │ EST      │ 2020-12-15 │
│ 5   │ 0      │ 42000         │ EST      │ 2021-01-05 │

### File: xUnitStartupCharacteristic_(DEP 2019).csv

In [60]:
size(dfUnitStartUpDEP)

(237, 17)

In [61]:
describe(dfUnitStartUpDEP)

17×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable           │ mean     │ min            │ median │ max        │
│     │ Symbol             │ Union…   │ Any            │ Union… │ Any        │
├─────┼────────────────────┼──────────┼────────────────┼────────┼────────────┤
│ 1   │ UNIT_NAME          │          │ ASHV_CC01      │        │ WSPN_CT01  │
│ 2   │ CC_KEY             │ 0.518987 │ 0              │ 0.0    │ 4          │
│ 3   │ EDITION            │          │ Actual         │        │ Actual     │
│ 4   │ STARTUP_FUEL_NAME  │          │ CCOA_MISC_CG01 │        │ SOLR_PEC_C │
│ 5   │ MARKET_OR_CONTRACT │          │ Contract       │        │ Contract   │
│ 6   │ HOUR_1             │ 8.16878  │ 8              │ 8.0    │ 12         │
│ 7   │ HOUR_2             │ 33.8565  │ 32             │ 32.0   │ 60         │
│ 8   │ HOUR_3             │ 86.1772  │ 72             │ 72.0   │ 144        │
│ 9   │ MBTU_1             │ 685.439  │ 0              │ 244.0  │ 3897       │
│ 10  │ MBTU_2             │ 825.734  │ 0              │ 244.0  │ 4783       │
│ 11  │ MBTU_3             │ 1054.97  │ 0              │ 244.0  │ 7409       │
│ 12  │ COST_1             │ 3330.21  │ 0.0            │ 1821.0 │ 12185.0    │
│ 13  │ COST_2             │ 3330.21  │ 0.0            │ 1821.0 │ 12185.0    │
│ 14  │ COST_3             │ 3330.21  │ 0.0            │ 1821.0 │ 12185.0    │
│ 15  │ SHUTDOWN_COST      │ 13861.0  │ 0              │ 0.0    │ 137000     │
│ 16  │ TIMEZONE           │          │ EDT            │        │ EST        │
│ 17  │ BEGIN_DATE         │          │ 2019-01-01     │        │ 2023-12-01 │

In [62]:
show(dfUnitStartUpDEP[1:5,:], allcols=true)

5×17 DataFrame
│ Row │ UNIT_NAME │ CC_KEY │ EDITION │ STARTUP_FUEL_NAME │ MARKET_OR_CONTRACT │
│     │ String    │ Int64  │ String  │ String            │ String             │
├─────┼───────────┼────────┼─────────┼───────────────────┼────────────────────┤
│ 1   │ ASHV_CC01 │ 1      │ Actual  │ NGAS_ASHV_CC01    │ Contract           │
│ 2   │ ASHV_CC01 │ 1      │ Actual  │ NGAS_ASHV_CC01    │ Contract           │
│ 3   │ ASHV_CC02 │ 1      │ Actual  │ NGAS_ASHV_CC02    │ Contract           │
│ 4   │ ASHV_CC02 │ 1      │ Actual  │ NGAS_ASHV_CC02    │ Contract           │
│ 5   │ ASHV_CT03 │ 0      │ Actual  │ NGAS_ASHV         │ Contract           │

│ Row │ HOUR_1 │ HOUR_2 │ HOUR_3 │ MBTU_1 │ MBTU_2 │ MBTU_3 │ COST_1  │
│     │ Int64  │ Int64  │ Int64  │ Int64  │ Int64  │ Int64  │ Float64 │
├─────┼────────┼────────┼────────┼────────┼────────┼────────┼─────────┤
│ 1   │ 8      │ 32     │ 72     │ 1249   │ 1249   │ 1249   │ 0.0     │
│ 2   │ 8      │ 32     │ 72     │ 1249   │ 1249   │ 1249   │ 0.0     │
│ 3   │ 8      │ 32     │ 72     │ 1249   │ 1249   │ 1249   │ 0.0     │
│ 4   │ 8      │ 32     │ 72     │ 1249   │ 1249   │ 1249   │ 0.0     │
│ 5   │ 8      │ 32     │ 72     │ 440    │ 440    │ 440    │ 6971.0  │

│ Row │ COST_2  │ COST_3  │ SHUTDOWN_COST │ TIMEZONE │ BEGIN_DATE │
│     │ Float64 │ Float64 │ Int64         │ String   │ Date       │
├─────┼─────────┼─────────┼───────────────┼──────────┼────────────┤
│ 1   │ 0.0     │ 0.0     │ 5194          │ EDT      │ 2019-08-01 │
│ 2   │ 0.0     │ 0.0     │ 5194          │ EST      │ 2020-12-15 │
│ 3   │ 0.0     │ 0.0     │ 5194          │ EDT      │ 2019-08-01 │
│ 4   │ 0.0     │ 0.0     │ 5194          │ EST      │ 2020-12-15 │
│ 5   │ 6971.0  │ 6971.0  │ 0             │ EST      │ 2020-12-15 │